<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    </head>
    <body>
        
        <video id="video" autoplay></video>
        <!-- <button id="snap">Snap Photo</button> -->
        <!-- <div id="recommend"><button class="btn btn-primary btn-lg">Recommend</button></div> -->
        <div id="recommend"><img id="lightbulb" src="/static/fa-lightbulb.png"></div>
        <canvas id="canvas" width="640" height="480"></canvas>

        <!-- <div id="card-container" class="align-middle">
            <div class="card align-middle">
                <div class="card-block">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Blurb blurb blurb</p>
                </div>
            </div>
        </div> -->

        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a id="did" href=""></a>
                <h4 id="blurb-title">Blurb Title</h4>
                <div id='pic-container'></div>
                <p id="blurb-rating">0</p>
                <p id="blurb-text">Blurb blurb blurb</p>
                <img id="blurb-img" src="">
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Back</a>
            <a href="javascript:void(0)" class="acceptbtn" onclick="acceptFood()">Accept</a>
        </div>
        <script src="/static/main.js"></script>
    </body>
</html>
